name: Java CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  install:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven' 

      - name: Download dependencies (go-offline)
        run: mvn dependency:go-offline --batch-mode

  test:
    runs-on: ubuntu-latest
    needs: install  
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: 'maven'

      - name: Install dependencies from lock
        run: mvn dependency:go-offline --batch-mode --no-transfer-progress

      - name: Run tests
        run: mvn test --batch-mode

      - name: Publish Test Results
        uses: EnricoMi/publish-unit-test-result-action@v2
        if: always()
        with:
          files: |
            target/surefire-reports/TEST-*.xml
            target/failsafe-reports/TEST-*.xml
